.algorithm-square {
  border: 1px;
  border-radius: 10px;
  color: gray;
  border-style: solid;
  width: 800px;
  height: 400px;
  margin: auto 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.selection-button {
  bottom: 0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.SortareBubbleSort {
  font-size: 40px;
  color: black;
  background-color: yellow;
}

.BreadthFirstSearch {
  font-size: 40px;
  color: black;
  background-color: green;
}

.BinarySearch {
  font-size: 40px;
  color: black;
  background-color: blue;
}
